<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Election Page</title>
  </head>
  <body>
    <header>
      <nav class="flex space-between">
        <div class="navbar flex space-between">
          <div class="logo-wrapper">
            <a class="flex" href="./index.html">
              <div class="parent-svg">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 12.9231C0 6.83108 0 3.78508 1.89254 1.89254C3.78508 0 6.83108 0 12.9231 0H15.0769C21.1689 0 24.2149 0 26.1075 1.89254C28 3.78508 28 6.83108 28 12.9231V15.0769C28 21.1689 28 24.2149 26.1075 26.1075C24.2149 28 21.1689 28 15.0769 28H12.9231C6.83108 28 3.78508 28 1.89254 26.1075C0 24.2149 0 21.1689 0 15.0769V12.9231Z"
                    fill="#FFE86E"
                  />
                </svg>

                <div class="child-svg">
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.875 1.98012L4.20231 9.27755L0.53125 5.1856L2.13447 3.74729L4.32474 6.18867L10.3907 0.419434L11.875 1.98012Z" fill="black" />
                  </svg>
                </div>
              </div>
              <div class="logo-txt">
                <span class="weight300">გააკეთე</span> <br />
                <span class="weight500">არჩევანი</span>
              </div>
            </a>
          </div>
          <ul class="navbar-list flex">
            <li><a class="elections" href="./index.html">მიმდინარე არჩევნები</a></li>
            <li><a class="about-project" href="#">პროექტის შესახებ</a></li>
            <li>
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11H19M1 6H19M1 1H19" stroke="#14181F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </li>
          </ul>
        </div>
        <ul class="flex sign-buttons">
          <li>
            <a href="#">
              <button class="signup" type="button">რეგისტრაცია</button>
            </a>
          </li>
          <li>
            <a href="#">
              <button class="signin" type="button">ავტორიზაცია</button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="election-main">
      <a href="./index.html" class="back-button flex flex-vertical-center">
        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19 7C19.5523 7 20 6.55228 20 6C20 5.44772 19.5523 5 19 5V7ZM1 6L0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L1 6ZM5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L5.29289 11.7071ZM6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292893C6.31658 -0.0976311 5.68342 -0.0976311 5.29289 0.292893L6.70711 1.70711ZM19 5H1V7H19V5ZM0.292893 6.70711L5.29289 11.7071L6.70711 10.2929L1.70711 5.29289L0.292893 6.70711ZM1.70711 6.70711L6.70711 1.70711L5.29289 0.292893L0.292893 5.29289L1.70711 6.70711Z"
            fill="black"
          />
        </svg>
        <h3>უკან</h3>
      </a>
      <h1>სკოლის თვითმმართველობის არჩევის წესის ცვლილება</h1>
      <p>პროექტი წარმოადგენს სამინისტროსა და რესურსცენტრის ელექტრონულ არჩევნების საიტს. ამ საიტის მეშვეობით მოსწავლეები და მასწავლებლები რეგისტრაციის შემდეგ.</p>
      <form action="/" class="election-question-answer">
        <input type="hidden" name="device_id" id="device_id" />
        <div class="question-container question-radio">
          <div class="question-numbering">
            <span class="election-question-number"></span>
            <span class="slash">&#47;</span> &nbsp;<span class="election-all-questions-number"></span>
          </div>
          <h2 class="election-question">უნდა იღებდნენ თუ არა თვითმმართველობის არჩევნებში მონაწილეობას დაწყებითი საფეხურის მოსწავლეები?</h2>
          <h4 class="choose-answer">აირჩიე ერთი პასუხი</h4>
          <h3 class="error-message">შენ არ დაგიფიქსირებია პასუხი მოცემულ კითხვაზე. ხმის მისაცემად აუცილებელია ყველა კითხვაზე პასუხი.</h3>
          <label class="radio" checked="checked">
            <input type="radio" name="question1" value="უნდა იღებდნენ" />
            <span class="radio_custom">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="white" />
              </svg>
            </span>
            <span class="radio_text">უნდა იღებდნენ</span>
          </label>
          <br />
          <label class="radio" checked="checked">
            <input type="radio" name="question1" value="უნდა იღებდნენ" />
            <span class="radio_custom">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="white" />
              </svg>
            </span>
            <span class="radio_text">არ უნდა იღებდნენ</span>
          </label>
          <br />
          <label class="radio" checked="checked">
            <input type="radio" name="question1" value="უნდა იღებდნენ" />
            <span class="radio_custom">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="white" />
              </svg>
            </span>
            <span class="radio_text">მხოლოდ მეოთხე კლასელები</span>
          </label>
          <br />
          <label class="radio" checked="checked">
            <input type="radio" name="question1" value="უნდა იღებდნენ" />
            <span class="radio_custom">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="white" />
              </svg>
            </span>
            <span class="radio_text">აბა მე რა ვიცი</span>
          </label>
        </div>

        <div class="question-container question-checkbox">
          <div class="question-numbering">
            <span class="election-question-number"></span>
            <span class="slash">&#47;</span> &nbsp;<span class="election-all-questions-number"></span>
          </div>
          <h2 class="election-question">რა ვადით უნდა ირჩევდნენ სკოლის მოსწავლეები თვითმმართველობის წევრებს?</h2>
          <h4 class="choose-answer">აირჩიე ერთი ან მეტი პასუხი</h4>
          <h3 class="error-message">შენ არ დაგიფიქსირებია პასუხი მოცემულ კითხვაზე. ხმის მისაცემად აუცილებელია ყველა კითხვაზე პასუხი.</h3>
          <label class="checkbox">
            <input type="checkbox" name="question2" id="" />
            <span class="checkbox_custom">
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.20711 3.29287C1.81658 2.90235 1.18342 2.90235 0.792893 3.29287C0.402369 3.6834 0.402369 4.31656 0.792893 4.70709L2.20711 3.29287ZM3.97487 6.47485L3.26777 7.18196C3.45531 7.3695 3.70967 7.47486 3.97489 7.47485C4.24011 7.47485 4.49447 7.36948 4.682 7.18194L3.97487 6.47485ZM9.63148 2.23217C10.022 1.84164 10.022 1.20847 9.63144 0.817958C9.24091 0.427445 8.60774 0.427464 8.21723 0.817999L9.63148 2.23217ZM0.792893 4.70709L3.26777 7.18196L4.68198 5.76775L2.20711 3.29287L0.792893 4.70709ZM4.682 7.18194L9.63148 2.23217L8.21723 0.817999L3.26775 5.76777L4.682 7.18194Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="checkbox_text">1 წლით</span>
          </label>
          <br />
          <label class="checkbox">
            <input type="checkbox" name="question2" id="" />
            <span class="checkbox_custom">
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.20711 3.29287C1.81658 2.90235 1.18342 2.90235 0.792893 3.29287C0.402369 3.6834 0.402369 4.31656 0.792893 4.70709L2.20711 3.29287ZM3.97487 6.47485L3.26777 7.18196C3.45531 7.3695 3.70967 7.47486 3.97489 7.47485C4.24011 7.47485 4.49447 7.36948 4.682 7.18194L3.97487 6.47485ZM9.63148 2.23217C10.022 1.84164 10.022 1.20847 9.63144 0.817958C9.24091 0.427445 8.60774 0.427464 8.21723 0.817999L9.63148 2.23217ZM0.792893 4.70709L3.26777 7.18196L4.68198 5.76775L2.20711 3.29287L0.792893 4.70709ZM4.682 7.18194L9.63148 2.23217L8.21723 0.817999L3.26775 5.76777L4.682 7.18194Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="checkbox_text">2 წლით</span>
          </label>
          <br />
          <label class="checkbox">
            <input type="checkbox" name="question2" id="" />
            <span class="checkbox_custom">
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.20711 3.29287C1.81658 2.90235 1.18342 2.90235 0.792893 3.29287C0.402369 3.6834 0.402369 4.31656 0.792893 4.70709L2.20711 3.29287ZM3.97487 6.47485L3.26777 7.18196C3.45531 7.3695 3.70967 7.47486 3.97489 7.47485C4.24011 7.47485 4.49447 7.36948 4.682 7.18194L3.97487 6.47485ZM9.63148 2.23217C10.022 1.84164 10.022 1.20847 9.63144 0.817958C9.24091 0.427445 8.60774 0.427464 8.21723 0.817999L9.63148 2.23217ZM0.792893 4.70709L3.26777 7.18196L4.68198 5.76775L2.20711 3.29287L0.792893 4.70709ZM4.682 7.18194L9.63148 2.23217L8.21723 0.817999L3.26775 5.76777L4.682 7.18194Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="checkbox_text">3 წლით</span>
          </label>
          <br />
          <label class="checkbox">
            <input type="checkbox" name="question2" id="" />
            <span class="checkbox_custom">
              <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.20711 3.29287C1.81658 2.90235 1.18342 2.90235 0.792893 3.29287C0.402369 3.6834 0.402369 4.31656 0.792893 4.70709L2.20711 3.29287ZM3.97487 6.47485L3.26777 7.18196C3.45531 7.3695 3.70967 7.47486 3.97489 7.47485C4.24011 7.47485 4.49447 7.36948 4.682 7.18194L3.97487 6.47485ZM9.63148 2.23217C10.022 1.84164 10.022 1.20847 9.63144 0.817958C9.24091 0.427445 8.60774 0.427464 8.21723 0.817999L9.63148 2.23217ZM0.792893 4.70709L3.26777 7.18196L4.68198 5.76775L2.20711 3.29287L0.792893 4.70709ZM4.682 7.18194L9.63148 2.23217L8.21723 0.817999L3.26775 5.76777L4.682 7.18194Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="checkbox_text">4 წლით</span>
          </label>
        </div>

        <button id="votingEndBtn" type="button">
          <span>დასრულება</span>
          <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.5 4.49992C0.947715 4.49992 0.5 4.94763 0.5 5.49992C0.5 6.0522 0.947715 6.49992 1.5 6.49992V4.49992ZM16.5 5.49992L17.2071 6.20703C17.5976 5.8165 17.5976 5.18334 17.2071 4.79281L16.5 5.49992ZM13.0404 0.626145C12.6499 0.235621 12.0168 0.235621 11.6262 0.626145C11.2357 1.01667 11.2357 1.64983 11.6262 2.04036L13.0404 0.626145ZM11.6262 8.95948C11.2357 9.35 11.2357 9.98317 11.6262 10.3737C12.0168 10.7642 12.6499 10.7642 13.0404 10.3737L11.6262 8.95948ZM1.5 6.49992H16.5V4.49992H1.5V6.49992ZM17.2071 4.79281L13.0404 0.626145L11.6262 2.04036L15.7929 6.20703L17.2071 4.79281ZM15.7929 4.79281L11.6262 8.95948L13.0404 10.3737L17.2071 6.20703L15.7929 4.79281Z"
              fill="black"
            />
          </svg>
        </button>

        <!-- voting success message  -->
        <div class="voting-success-popup">
          <div class="voting-success-txt flex">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="36" height="36" rx="18" fill="#00BE82" />
              <path
                d="M13.7071 17.2929C13.3166 16.9024 12.6834 16.9024 12.2929 17.2929C11.9024 17.6835 11.9024 18.3166 12.2929 18.7071L13.7071 17.2929ZM16.5355 21.5356L15.8284 22.2427C16.016 22.4302 16.2703 22.5356 16.5355 22.5356C16.8008 22.5356 17.0551 22.4302 17.2427 22.2427L16.5355 21.5356ZM24.3134 15.1716C24.7039 14.781 24.7038 14.1479 24.3133 13.7574C23.9228 13.3668 23.2896 13.3669 22.8991 13.7574L24.3134 15.1716ZM12.2929 18.7071L15.8284 22.2427L17.2426 20.8285L13.7071 17.2929L12.2929 18.7071ZM17.2427 22.2427L24.3134 15.1716L22.8991 13.7574L15.8284 20.8285L17.2427 22.2427Z"
                fill="white"
              />
            </svg>
            <h5>შენი ხმა დაფიქსირებულია</h5>
          </div>
          <div class="voting-success-message-x">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.6666 10.6667L1.33325 1.33337M10.6666 1.33337L1.33325 10.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <!-- same user error message  -->
        <div class="same-user-error-message flex">
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="36" height="36" rx="18" fill="#00BE82" />
            <path
              d="M13.7071 17.2929C13.3166 16.9023 12.6834 16.9023 12.2929 17.2929C11.9024 17.6834 11.9024 18.3166 12.2929 18.7071L13.7071 17.2929ZM16.5355 21.5355L15.8284 22.2426C16.016 22.4302 16.2703 22.5355 16.5355 22.5355C16.8008 22.5355 17.0551 22.4301 17.2427 22.2426L16.5355 21.5355ZM24.3134 15.1715C24.7039 14.781 24.7038 14.1478 24.3133 13.7573C23.9228 13.3668 23.2896 13.3668 22.8991 13.7573L24.3134 15.1715ZM12.2929 18.7071L15.8284 22.2426L17.2426 20.8284L13.7071 17.2929L12.2929 18.7071ZM17.2427 22.2426L24.3134 15.1715L22.8991 13.7573L15.8284 20.8284L17.2427 22.2426Z"
              fill="white"
            />
          </svg>
          <h5>ამ მოწყობილობით ხმა უკვე მიცემულია</h5>
        </div>
      </form>
    </main>
    <footer>
      <div class="footer-flex-container flex space-between">
        <div class="footer-logo-container">
          <div class="footer-inner-logo-container flex flex-vertical-center">
            <img src="../assets/ministry-logo.jpg" alt="ministry-logo" />
            <h2>
              საქართველოს განათლებისა და <br />
              მეცნიერების სამინისტრო
            </h2>
          </div>
          <h3>ყველა უფლება დაცულია Ⓒ განათლების მართვის საინფორმაციო სისტემა 2021</h3>
        </div>
        <div class="footer-contact-container">
          <p>pr@mes.gov.ge</p>
          <p>(995 32) 2 200 220</p>
          <p>0102 თბილისი, დიმიტრი უზნაძის N52</p>
        </div>
      </div>
    </footer>
    <div class="about-project-container">
      <div class="about-project-child-container">
        <div class="about-project-container-close-x">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6663 10.6666L1.33301 1.33331M10.6664 1.33331L1.33301 10.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <h1>პროექტის შესახებ</h1>
        <div class="about-project-main-txt">
          <p>
            ლორემ იპსუმ ტელეარხებმა ხიბლავს გაფორმებასა ჰყვებოდა, უდმურტეთიდან მკვახე ჰზიდოს წამოგვცდენოდა გარემოება დამეთმო. ოდისეის ტიალი ცხელის, ეგზოტიკურ ზღაპრებს მსხვერპლმა ჩაუკრა ამბავსაც
            დაიმორჩილა, ქუდმოუხდელი ბეტ ჯენზე უმის. მკვახე ესპანურის შევუფარდო, ჯჯაყო ჩაექსოვნენ, გაჩვარებული ფუღუროში უმის ჩაკვლის გოლიათური.
          </p>
          <p>
            მთავრობასა გამოფიტულ ჟინის სიკვდილისკენ გვგლეჯდნენ მოაცვლევინა მეზობელს გამეფებულ ქაფია ჰენდონს ვუკეთებდი ვითარდება. ინისლებოდა მიართო შენზედ დავწერო სახელდახელოდ სულელურ, ქაფია
            გაფინანსებთ როკო. გამეფებულ გვგლეჯდნენ შეუნელებია მამამისმა ესვრიან ყბედობას ულუფა სამიკიტნოში ჭადარი. მოშურნე გაიმეორებდა მამამისმა ქლესაობით დავწერო, გვიყვარს საწყენად ნაფიცმა. გვიყვარს
            საცობი მოეკრა მედიცინა სიკვდილისკენ ცცხრა შეუნელებია, შემოღობილი უცოდველი თეატრალიზებული საწყენად.
          </p>
        </div>
        <div class="about-project-squad-container">
          <h1>გუნდი</h1>
          <div class="about-project-squad-child-container flex">
            <ul>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
            </ul>
            <ul>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- catch device ID  -->
    <script src="../javascript/deviceUUID.js"></script>
    <script>
      const DeviceID = new DeviceUUID().get();
      console.log(DeviceID);
      const deviceIdInput = document.getElementById("device_id");
      deviceIdInput.value = DeviceID;
      const electionForm = document.querySelector(".election-question-answer");
      electionForm.addEventListener("submit", e => {
        electionForm.device_id.value = DeviceID;
      });
    </script>

    <!-- script tags -->
    <script src="../javascript/about-project.js"></script>
    <script src="../javascript/main.js"></script>
    <script src="../javascript/election.js"></script>
    <script src="../javascript/validators.js"></script>
  </body>
</html>
