<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Main Page</title>
  </head>
  <body>
    <header>
      <nav class="flex space-between">
        <div class="navbar flex space-between">
          <div class="logo-wrapper">
            <a class="flex" href="#">
              <div class="parent-svg">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 12.9231C0 6.83108 0 3.78508 1.89254 1.89254C3.78508 0 6.83108 0 12.9231 0H15.0769C21.1689 0 24.2149 0 26.1075 1.89254C28 3.78508 28 6.83108 28 12.9231V15.0769C28 21.1689 28 24.2149 26.1075 26.1075C24.2149 28 21.1689 28 15.0769 28H12.9231C6.83108 28 3.78508 28 1.89254 26.1075C0 24.2149 0 21.1689 0 15.0769V12.9231Z"
                    fill="#FFE86E"
                  />
                </svg>

                <div class="child-svg">
                  <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.875 1.98012L4.20231 9.27755L0.53125 5.1856L2.13447 3.74729L4.32474 6.18867L10.3907 0.419434L11.875 1.98012Z" fill="black" />
                  </svg>
                </div>
              </div>
              <div class="logo-txt">
                <h1>ჩაერთე</h1>
              </div>
            </a>
          </div>
          <ul class="navbar-list flex">
            <li><a class="about-project" href="#">პროექტის შესახებ</a></li>
            <li class="burger-svg">
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11H19M1 6H19M1 1H19" stroke="#14181F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </li>
          </ul>
        </div>
        <div class="burger-menu-navbar">
          <div class="burger-menu-navbar-shadow"></div>
          <ul>
            <li class="about-project">პროექტის შესახებ</li>
          </ul>
        </div>
        <ul class="flex sign-buttons">
          <li>
            <a href="#">
              <button class="signup" type="button">რეგისტრაცია</button>
            </a>
          </li>
          <li>
            <a href="#">
              <button class="signin" type="button">ავტორიზაცია</button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- <section class="hero-content"></section> -->
    <main>
      <h1>მიმდინარე არჩევნები</h1>
      <div class="elections-main-container">
        <h3 class="elections-main-date">19 აგვისტო 2022</h3>
        <h2>სკოლის თვითმმართველობის არჩევის წესის ცვლილება</h2>
        <p>პროექტი წარმოადგენს სამინისტროსა და რესურსცენტრის ელექტრონულ არჩევნების საიტს. ამ საიტის მეშვეობით მოსწავლეები და მასწავლებლები რეგისტრაციის შემდეგ.</p>
        <a href="./election-page.html">
          <button type="button">
            ხმის მიცემა
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 3.50008C0.447715 3.50008 0 3.9478 0 4.50008C0 5.05237 0.447715 5.50008 1 5.50008V3.50008ZM13 4.50008L13.7071 5.20719C13.8946 5.01965 14 4.7653 14 4.50008C14 4.23486 13.8946 3.98051 13.7071 3.79297L13 4.50008ZM10.3738 0.459641C9.98325 0.069117 9.35008 0.069117 8.95956 0.459641C8.56904 0.850166 8.56904 1.48333 8.95956 1.87385L10.3738 0.459641ZM8.95956 7.12631C8.56904 7.51683 8.56904 8.15 8.95956 8.54052C9.35008 8.93105 9.98325 8.93105 10.3738 8.54052L8.95956 7.12631ZM1 5.50008H13V3.50008H1V5.50008ZM13.7071 3.79297L10.3738 0.459641L8.95956 1.87385L12.2929 5.20719L13.7071 3.79297ZM12.2929 3.79297L8.95956 7.12631L10.3738 8.54052L13.7071 5.20719L12.2929 3.79297Z"
                fill="black"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="elections-main-container">
        <h3 class="elections-main-date">19 აგვისტო 2022</h3>
        <h2>სკოლის თვითმმართველობის არჩევის წესის ცვლილება</h2>
        <p>პროექტი წარმოადგენს სამინისტროსა და რესურსცენტრის ელექტრონულ არჩევნების საიტს. ამ საიტის მეშვეობით მოსწავლეები და მასწავლებლები რეგისტრაციის შემდეგ.</p>
        <a href="./election-page.html">
          <button type="button">
            ხმის მიცემა
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 3.50008C0.447715 3.50008 0 3.9478 0 4.50008C0 5.05237 0.447715 5.50008 1 5.50008V3.50008ZM13 4.50008L13.7071 5.20719C13.8946 5.01965 14 4.7653 14 4.50008C14 4.23486 13.8946 3.98051 13.7071 3.79297L13 4.50008ZM10.3738 0.459641C9.98325 0.069117 9.35008 0.069117 8.95956 0.459641C8.56904 0.850166 8.56904 1.48333 8.95956 1.87385L10.3738 0.459641ZM8.95956 7.12631C8.56904 7.51683 8.56904 8.15 8.95956 8.54052C9.35008 8.93105 9.98325 8.93105 10.3738 8.54052L8.95956 7.12631ZM1 5.50008H13V3.50008H1V5.50008ZM13.7071 3.79297L10.3738 0.459641L8.95956 1.87385L12.2929 5.20719L13.7071 3.79297ZM12.2929 3.79297L8.95956 7.12631L10.3738 8.54052L13.7071 5.20719L12.2929 3.79297Z"
                fill="black"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="elections-main-container">
        <h3 class="elections-main-date">19 აგვისტო 2022</h3>
        <h2>სკოლის თვითმმართველობის არჩევის წესის ცვლილება</h2>
        <p>პროექტი წარმოადგენს სამინისტროსა და რესურსცენტრის ელექტრონულ არჩევნების საიტს. ამ საიტის მეშვეობით მოსწავლეები და მასწავლებლები რეგისტრაციის შემდეგ.</p>
        <a href="./election-page.html">
          <button type="button">
            ხმის მიცემა
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 3.50008C0.447715 3.50008 0 3.9478 0 4.50008C0 5.05237 0.447715 5.50008 1 5.50008V3.50008ZM13 4.50008L13.7071 5.20719C13.8946 5.01965 14 4.7653 14 4.50008C14 4.23486 13.8946 3.98051 13.7071 3.79297L13 4.50008ZM10.3738 0.459641C9.98325 0.069117 9.35008 0.069117 8.95956 0.459641C8.56904 0.850166 8.56904 1.48333 8.95956 1.87385L10.3738 0.459641ZM8.95956 7.12631C8.56904 7.51683 8.56904 8.15 8.95956 8.54052C9.35008 8.93105 9.98325 8.93105 10.3738 8.54052L8.95956 7.12631ZM1 5.50008H13V3.50008H1V5.50008ZM13.7071 3.79297L10.3738 0.459641L8.95956 1.87385L12.2929 5.20719L13.7071 3.79297ZM12.2929 3.79297L8.95956 7.12631L10.3738 8.54052L13.7071 5.20719L12.2929 3.79297Z"
                fill="black"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="elections-main-container">
        <h3 class="elections-main-date">19 აგვისტო 2022</h3>
        <h2>სკოლის თვითმმართველობის არჩევის წესის ცვლილება</h2>
        <p>პროექტი წარმოადგენს სამინისტროსა და რესურსცენტრის ელექტრონულ არჩევნების საიტს. ამ საიტის მეშვეობით მოსწავლეები და მასწავლებლები რეგისტრაციის შემდეგ.</p>
        <a href="./election-page.html">
          <button type="button">
            ხმის მიცემა
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 3.50008C0.447715 3.50008 0 3.9478 0 4.50008C0 5.05237 0.447715 5.50008 1 5.50008V3.50008ZM13 4.50008L13.7071 5.20719C13.8946 5.01965 14 4.7653 14 4.50008C14 4.23486 13.8946 3.98051 13.7071 3.79297L13 4.50008ZM10.3738 0.459641C9.98325 0.069117 9.35008 0.069117 8.95956 0.459641C8.56904 0.850166 8.56904 1.48333 8.95956 1.87385L10.3738 0.459641ZM8.95956 7.12631C8.56904 7.51683 8.56904 8.15 8.95956 8.54052C9.35008 8.93105 9.98325 8.93105 10.3738 8.54052L8.95956 7.12631ZM1 5.50008H13V3.50008H1V5.50008ZM13.7071 3.79297L10.3738 0.459641L8.95956 1.87385L12.2929 5.20719L13.7071 3.79297ZM12.2929 3.79297L8.95956 7.12631L10.3738 8.54052L13.7071 5.20719L12.2929 3.79297Z"
                fill="black"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="pagination flex">
        <button class="pagination-child pagination-left-arrow">
          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.29289 7.70711C3.68342 8.09763 4.31658 8.09763 4.70711 7.70711C5.09763 7.31658 5.09763 6.68342 4.70711 6.29289L3.29289 7.70711ZM1 4L0.292893 3.29289C-0.0976311 3.68342 -0.0976311 4.31658 0.292893 4.70711L1 4ZM4.70711 1.70711C5.09763 1.31658 5.09763 0.683417 4.70711 0.292893C4.31658 -0.0976311 3.68342 -0.0976311 3.29289 0.292893L4.70711 1.70711ZM4.70711 6.29289L1.70711 3.29289L0.292893 4.70711L3.29289 7.70711L4.70711 6.29289ZM1.70711 4.70711L4.70711 1.70711L3.29289 0.292893L0.292893 3.29289L1.70711 4.70711Z"
              fill="black"
            />
          </svg>
        </button>
        <button class="pagination-child pagination-num active">1</button>
        <button class="pagination-child pagination-num">2</button>
        <button class="pagination-child pagination-break-dots">...</button>
        <button class="pagination-child pagination-num">6</button>
        <button class="pagination-child pagination-num">7</button>
        <button class="pagination-child pagination-right-arrow">
          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM4 4L4.70711 4.70711C5.09763 4.31658 5.09763 3.68342 4.70711 3.29289L4 4ZM0.292893 6.29289C-0.0976311 6.68342 -0.0976311 7.31658 0.292893 7.70711C0.683417 8.09763 1.31658 8.09763 1.70711 7.70711L0.292893 6.29289ZM0.292893 1.70711L3.29289 4.70711L4.70711 3.29289L1.70711 0.292893L0.292893 1.70711ZM3.29289 3.29289L0.292893 6.29289L1.70711 7.70711L4.70711 4.70711L3.29289 3.29289Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
    </main>
    <footer>
      <div class="footer-flex-container flex space-between">
        <div class="footer-logo-container">
          <div class="footer-inner-logo-container flex flex-vertical-center">
            <img src="../assets/ministry-logo.jpg" alt="ministry-logo" />
            <h2>
              საქართველოს განათლებისა და <br />
              მეცნიერების სამინისტრო
            </h2>
          </div>
          <h3>ყველა უფლება დაცულია Ⓒ განათლების მართვის საინფორმაციო სისტემა 2021</h3>
        </div>
        <div class="footer-contact-container">
          <p>pr@mes.gov.ge</p>
          <p>(995 32) 2 200 220</p>
          <p>0102 თბილისი, დიმიტრი უზნაძის N52</p>
        </div>
      </div>
    </footer>
    <div class="about-project-container">
      <div class="about-project-child-container">
        <div class="about-project-container-close-x">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6663 10.6666L1.33301 1.33331M10.6664 1.33331L1.33301 10.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <h1>პროექტის შესახებ</h1>
        <div class="about-project-main-txt">
          <p>
            ლორემ იპსუმ ტელეარხებმა ხიბლავს გაფორმებასა ჰყვებოდა, უდმურტეთიდან მკვახე ჰზიდოს წამოგვცდენოდა გარემოება დამეთმო. ოდისეის ტიალი ცხელის, ეგზოტიკურ ზღაპრებს მსხვერპლმა ჩაუკრა ამბავსაც
            დაიმორჩილა, ქუდმოუხდელი ბეტ ჯენზე უმის. მკვახე ესპანურის შევუფარდო, ჯჯაყო ჩაექსოვნენ, გაჩვარებული ფუღუროში უმის ჩაკვლის გოლიათური.
          </p>
          <p>
            მთავრობასა გამოფიტულ ჟინის სიკვდილისკენ გვგლეჯდნენ მოაცვლევინა მეზობელს გამეფებულ ქაფია ჰენდონს ვუკეთებდი ვითარდება. ინისლებოდა მიართო შენზედ დავწერო სახელდახელოდ სულელურ, ქაფია
            გაფინანსებთ როკო. გამეფებულ გვგლეჯდნენ შეუნელებია მამამისმა ესვრიან ყბედობას ულუფა სამიკიტნოში ჭადარი. მოშურნე გაიმეორებდა მამამისმა ქლესაობით დავწერო, გვიყვარს საწყენად ნაფიცმა. გვიყვარს
            საცობი მოეკრა მედიცინა სიკვდილისკენ ცცხრა შეუნელებია, შემოღობილი უცოდველი თეატრალიზებული საწყენად.
          </p>
        </div>
        <div class="about-project-squad-container">
          <h1>გუნდი</h1>
          <div class="about-project-squad-child-container flex">
            <ul>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
            </ul>
            <ul>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
              <li>
                <h2>სანდრო ასათიანი</h2>
                <h3>იდეის ავტორი</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="../javascript/burger-menu.js"></script>
    <script src="../javascript/about-project.js"></script>
  </body>
</html>
