.election-main {
  font-family: $main-txt-font;
  margin-bottom: 50px;

  .back-button {
    text-decoration: none;
    color: $main-txt-color;
    margin-bottom: 42px;

    svg {
      margin-right: 15px;
    }
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  p {
    font-size: 14px;
    line-height: 23.8px;
    opacity: 70%;
    margin-bottom: 64px;
  }

  .election-question-answer {
    .question-container {
      margin-bottom: 64px;
      .question-numbering {
        margin-bottom: 16px;
        .slash {
          opacity: 30%;
        }

        .election-all-questions-number {
          opacity: 30%;
        }
      }

      .election-question {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
      }

      .choose-answer {
        font-size: 12px;
        line-height: 20.4px;
        opacity: 50%;
        margin-bottom: 16px;
      }

      .error-message {
        color: $error-message-txt-color;
        font-weight: 500;
        margin-bottom: 48px;
        display: block;
      }

      input {
        margin-bottom: 24px;
      }
    }
  }

  .voting-success-popup {
    width: 600px;
    height: 84px;
    padding: 24px;
    background-color: black;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    display: none;
    .voting-success-txt {
      align-items: center;
      svg {
        margin-right: 18px;
      }
      h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
        color: #fff;
      }
    }
    .voting-success-message-x {
      cursor: pointer;
    }
  }
  .same-user-error-message {
    width: 100%;
    height: 108px;
    background-color: $error-popup-bg;
    margin-top: 20px;
    padding: 36px;
    align-items: center;

    svg {
      margin-right: 16px;
    }

    h5 {
      font-size: 16px;
      line-height: 27.2px;
      color: $main-txt-color;
      display: block;
    }
  }

  button {
    width: 100%;
    height: 63px;
    border-radius: 4px;
    margin-top: 40px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #fff;

    span {
      font-size: 14px;
      line-height: 17.09px;
      margin-right: 10px;
      font-weight: bold;
    }

    &:hover {
      background-color: $button-hover-yellow;
    }
  }
}
