header {
  width: 100%;
  height: 95px;
  border: 1px solid $border-color;
  padding: 31.5px 154px;

  nav {
    ul {
      height: 32px;
      align-items: center;

      li {
        margin-right: 60px;

        a {
          text-decoration: none;
          color: $main-txt-color;
          font-family: $main-txt-font;
          font-size: 14px;
        }
      }
    }
    .e-stories {
      color: $e-stories-color;

      .parent-svg {
        width: fit-content;
        position: absolute;
        top: 31.5px;
      }

      .child-svg {
        width: fit-content;
        position: relative;
        top: 0;
        left: 8px;
      }

      span {
        margin-left: 20px;
        margin-top: 2px;
        font-family: $main-txt-font;
        font-weight: bold;
      }
    }

    .sign-buttons {
      display: none;
      button {
        cursor: pointer;
        padding: 16px 36px;
        line-height: 17px;
        background-color: #fff;
      }
      .signup {
        border: none;
        text-decoration: underline;
        margin-right: -60px;
        color: $signup-button-color;
      }

      .signin {
        border: 1.5px solid black;
        border-radius: 4px;
      }
    }
  }
}
