@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/Helvetica-Neue-Font/Helvetica\ Neue\ Medium\ Extended/medium.ttf);
}

@font-face {
  font-family: HelveticaNeue-bold;
  src: url(../fonts/Helvetica-Neue-Font/Helvetica\ Neue\ W01\ 77\ Bd\ Cn\ Obl/bold.ttf);
}
