.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horisontal-center {
  justify-content: center;
}

.active {
  display: block;
}
