.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horisontal-center {
  justify-content: center;
}

.active {
  display: block;
}

.weight500 {
  font-weight: 700;
}

.weight300 {
  font-weight: 300;
}
